<div class="main">
    <div class="flex-container">
        <div class="cadre" [style.min-height]="cardContentHeight + 'px'">
            <div id="details">
                <gn-cmr-breadcrumb [path]="path" [currentPage]="'Visite'"></gn-cmr-breadcrumb>
                <div class="toolbar clearfix">
                    <h3 class="float-left">Visite</h3>
                    <button class="btn btn-primary float-right" [routerLink]="['..', {edit: visit.id_visit}]"><i class="fa fa-pencil"></i>&nbsp;Editer</button>
                </div>
                <div class="">
                    <nav>
                        <table class="table table-striped table-sm scrollable">
                            <tr *ngFor="let fieldName of properties">
                                <th>{{ fields[fieldName].attribut_label }}</th>
                                <td class="text-in-area">{{ _dataService.formatProperty(visit[fieldName], fields[fieldName])}}</td>
                            </tr>
                        </table>
                    </nav>
                </div>
            </div>
            <pnx-map height="40vh" class="map-card">
            </pnx-map>
        </div>
        <div class="cadre scroll">
            <div class="" *ngIf="visit.observation">
                <h3>Observations</h3>
                <div class="toolbar clearfix">
                    <button class="btn btn-success float-left" (click)="onClickAddObservation()"><i class="fa fa-plus-circle"></i>&nbsp;Ajout Observation</button>
                    <button disabled class="btn btn-primary float-right"><i class="fa fa-filter"></i>&nbsp;Filtrer</button>
                </div>
                <ngx-datatable #table
                    class="material striped margin-top-xs"
                    [rows]="observations"
                    [rowHeight]="40"
                    [draggable]="false"
                    [count]="observations.length"
                    [limit]="15"
                    [headerHeight]="50"
                    [footerHeight]="50">

                    <ngx-datatable-column width="15">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a class="clickable btn btn-no-padding bt-ghost" [routerLink]="['observation', row.id_observation]"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column width="200" *ngFor="let prop of observationListProperties" [name]="observationFieldsDef[prop].attribut_label" [prop]="prop" >
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{_dataService.formatProperty(row[prop], observationFieldsDef[prop])}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
