<div class="main">
    <div class="cadre">
        <gn-cmr-breadcrumb [path]="path" [currentPage]="module.forms.individual.label + ': ' + individual.identifier"></gn-cmr-breadcrumb>
        <div class="toolbar clearfix">
            <h3 class="float-left">{{module.forms.individual.label}}: {{individual.identifier}}</h3>
            <button disabled class="btn btn-primary float-right ml-2"><i class="fa fa-arrow-down"></i>&nbsp;Télécharger la fiche</button>
            <button class="btn btn-primary float-right ml-2" [routerLink]="['..', {edit: individual.id_individual}]"><i class="fa fa-pencil"></i>&nbsp;Editer</button>
        </div>
        <div class="">
            <span><strong>Identifier: </strong>{{individual.identifier}}</span>
        </div>
        <div class="" *ngIf="individual.rfid">
            <span><strong>RFID: </strong>{{individual.rfid}}</span>
        </div>
        <div class="">
            <span><strong>Marquage: </strong>{{individual.marker}}</span>
        </div>
        <div class="mt-2">
            <nav>
                <div class="nav nav-tabs" id="nav-tabs" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" aria-selected="true" id="nav-info-tab" href="#info-tab">Informations</a>
                    <a class="nav-item nav-link" data-toggle="tab" aria-selected="true" id="nav-historic-tab" href="#historic-tab" (click)="refreshMapSize()">Historique des actions<span class="badge badge-pill badge-primary ml-2">{{historic.length}}</span></a>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="info-tab" role="tabpanel" attr.aria-labelledby="nav-info-tab">
                        <div class="flex-container">
                            <div class="">
                                <h5>Détails</h5>
                                <table class="table table-striped table-sm scrollable">
                                    <tr *ngFor="let fieldName of properties">
                                        <th>{{ fields[fieldName].attribut_label }}</th>
                                        <td class="text-in-area">{{ _dataService.formatProperty(individual[fieldName], fields[fieldName])}}</td>
                                    </tr>
                                </table>
                                <hr class="mt-3 mb-3">
                                <h5>Médias</h5>
                                <gn-cmr-media-list [medias]="individual.medias"></gn-cmr-media-list>
                                <div *ngFor="let observation of historic">
                                    <div *ngIf="observation.medias && observation.medias.length > 0">
                                        <hr>
                                        <p><strong>Observation:</strong> {{_dataService.formatProperty(observation.visit.date, {type_column:'date'})}}</p>
                                        <gn-cmr-media-list [medias]="observation.medias"></gn-cmr-media-list>
                                    </div>
                                </div>
                            </div>
                            <div id="graph-list" class="">
                                <h5>Courbes d'évolutions</h5>
                                <gn-cmr-graph *ngFor="let graph of graphs" [options]="graph"></gn-cmr-graph>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="historic-tab" role="tabpanel" attr.aria-labelledby="nav-historic-tab">
                        <div class="flex-container">
                            <div class="">
                                <pnx-map height="60vh" class="map-card">
                                    <pnx-geojson
                                        *ngIf="mapFeatures && mapFeatures['features']"
                                        [geojson]="mapFeatures"
                                        [zoomOnLayer]="true"
                                        [zoomOnFirstTime]="true"
                                    ></pnx-geojson>
                                </pnx-map>
                            </div>
                            <div class="">
                                <div class="details">
                                    <ngx-datatable #tableHistoric
                                        class="material striped margin-top-xs"
                                        [rows]="historic"
                                        [rowHeight]="40"
                                        [draggable]="false"
                                        [count]="historic.length"
                                        [limit]="15"
                                        [headerHeight]="50"
                                        [footerHeight]="50"
                                        [sorts]="[{prop: 'visit_date',dir:'desc'}]"
                                        [selectionType]="'single'"
                                        [selected]="selected"
                                        (activate)="onHistoricRowClick($event)">
                                        
                                        <ngx-datatable-column width="15">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <a class="clickable btn btn-no-padding bt-ghost" [routerLink]="['../..','site', row.visit.id_site, 'visit', row.id_visit, 'observation', row.id_observation]">
                                                    <i class="fa fa-info-circle" aria-hidden="true" matTooltip="Détails {{module.forms.observation.label}}"></i>
                                                </a>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column *ngFor="let prop of historicListProperties" [width]="prop.width" [name]="historicFieldsDef[prop.field].attribut_label" [prop]="prop.field" >
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <span>{{_dataService.formatProperty(row[prop.field], historicFieldsDef[prop.field])}}</span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
