.main {
    padding: 5px 10px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.text-in-area {
    white-space: pre-wrap;
}

.cadre {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    width: 50%;
    padding: 5px;
    margin: 5px;
}

.tab-content {
    border: 1px solid #dee2e6;
    border-top: unset;
    padding: 5px;
}

.toolbar {
    padding: 5px 0px 10px 0px;
}

/** forms **/
:host ::ng-deep .obj-form {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    line-height: 0.5rem;
}

:host ::ng-deep .obj-form small {
    position: relative;
    top: -6px;
  }

:host ::ng-deep pnx-observers .input-group {
    height: 31px;
}