<div class="main cadre">
  <h2>Modules de Capture-Marquage-Recapture</h2>
  <p class="font-italic" *ngIf="!modules.length">
    <br><br>
    Désolé, vous n'avez accès à aucun module de CMR.<br>
    Veuillez contacter l'administrateur du site.
  </p>
  <div class="container py-5">
    <div class="row">
      <div class="col-4 col-sm-5" *ngFor="let module of modules">
        <div class="card module-card clickable" (click)="onModuleClick(module.module_code)">
          <img class="card-img-top" src="{{externalAssetsPath}}/{{module.module_code}}.jpg" alt="{{module.module_label}}" title="{{module.module_label}}">
          <div class="card-body">
            <h5 class="card-title">{{ module.module_label }}</h5>
            <p class="card-text">{{ module.module_desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>