<div class="main">
    <div class="flex-container">
        <div class="cadre" [style.min-height]="cardContentHeight + 'px'" [style.max-height]="cardContentHeight + 'px'">
            <pnx-map height="100%" class="map-card">
                <!--<pnx-leaflet-draw 
                    [bEnable]="false"
                    [geojson]="geometry" 
                    [options]="leafletDrawOptions" >
                </pnx-leaflet-draw>-->
            </pnx-map>
        </div>
        <div class="cadre scroll" [style.max-height]="cardContentHeight + 'px'" style="overflow-y:auto">
            <gn-cmr-breadcrumb [currentPage]="'Module: ' + module.module_label"></gn-cmr-breadcrumb>
            <h3>Module: {{ module.module_label }}</h3>
            <div *ngIf="dataset.dataset_name" class="toolbar mb-2">
                <span>
                    <strong>{{ 'Releve.Dataset' | translate }}: </strong>
                    <a target="_blank" [routerLink]="'/metadata/dataset_detail/' +dataset.id_dataset">{{dataset.dataset_name}}</a>
                    <i class="fa fa-ellipsis-h fa-border clickable ml-2" (click)="onClickChangeDataset()" matTooltip="Sélectionner un autre jeu de données"></i>
                </span>
            </div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" role="tab" aria-selected="true" id="nav-module-tab" href="#module-tab">Module</a>
                    <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="false" id="nav-sites-tab" href="#sites-tab">{{module.forms.site.label_plural}}<span class="badge badge-pill badge-primary ml-2">{{ sites.length }}</span></a>
                    <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="false" id="nav-individuals-tab" href="#individuals-tab">Individus<span class="badge badge-pill badge-primary ml-2">{{ individuals.length }}</span></a>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div
                        class="tab-pane fade active show"
                        id="module-tab"
                        role="tabpanel"
                        attr.aria-labelledby="nav-module-tab">
                            <div class="clearfix">
                                <button class="btn btn-primary float-right"><i class="fa fa-pencil"></i>&nbsp;Editer</button><!-- TODO add cruved -->
                            </div>
                            <p *ngIf="module.config.welcome">{{ module.config.welcome }}</p>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="sites-tab"
                        role="tabpanel"
                        attr.aria-labelledby="nav-sites-tab">
                        <div class="toolbar clearfix"><!-- TODO add cruved -->
                            <button class="btn btn-success float-left" [routerLink]="['site']"><i class="fa fa-plus-circle"></i>&nbsp;Ajouter {{module.forms.site.label}}</button>
                            <button disabled class="btn btn-primary float-right ml-2"><i class="fa fa-arrow-down"></i>&nbsp;Export CSV</button>
                            <button disabled class="btn btn-primary float-right"><i class="fa fa-filter"></i>&nbsp;Filtrer</button>
                        </div>
                        <ngx-datatable #table
                            class="material striped margin-top-xs"
                            [rows]="sites"
                            [rowHeight]="40"
                            [draggable]="false"
                            [count]="sites.length"
                            [limit]="15"
                            [headerHeight]="50"
                            [footerHeight]="50">

                            <ngx-datatable-column width="60">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a class="clickable btn btn-no-padding bt-ghost" [routerLink]="['site', row.id_site]"><i class="fa fa-info-circle" aria-hidden="true" matTooltip="Informations"></i></a>
                                    <a class="clickable btn btn-no-padding bt-ghost ml-1" [routerLink]="['site', {edit: row.id_site}]"><i class="fa fa-pencil-square-o" aria-hidden="true" matTooltip="Editer"></i></a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column width="200" *ngFor="let prop of siteListProperties" [name]="siteFieldsDef[prop].attribut_label" [prop]="prop" >
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="individuals-tab"
                        role="tabpanel"
                        attr.aria-labelledby="nav-individuals-tab">
                        <div class="toolbar clearfix"><!-- TODO add cruved -->
                            <button disabled class="btn btn-success float-left"><i class="fa fa-plus-circle"></i>&nbsp;Ajouter individu</button>
                            <button disabled class="btn btn-primary float-right ml-2"><i class="fa fa-arrow-down"></i>&nbsp;Export CSV</button>
                            <button disabled class="btn btn-primary float-right"><i class="fa fa-filter"></i>&nbsp;Filtrer</button>
                        </div>
                        <ngx-datatable #table
                            class="material striped margin-top-xs"
                            [rows]="individuals"
                            [rowHeight]="40"
                            [draggable]="false"
                            [count]="individuals.length"
                            [limit]="15"
                            [headerHeight]="50"
                            [footerHeight]="50">

                            <ngx-datatable-column width="15">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a class="clickable btn btn-no-padding bt-ghost" [routerLink]="['individual', row.id_individual]"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column width="200" *ngFor="let prop of individualListProperties" [name]="individualFieldsDef[prop].attribut_label" [prop]="prop" >
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
