<div class="main">
    <gn-cmr-mask *ngIf="waitControl" text="Recherche en cours..."></gn-cmr-mask>
    <div class="flex-container">
        <div class="cadre" [style.min-height]="cardContentHeight + 'px'">
            <div id="details">
                <gn-cmr-breadcrumb [path]="path" [currentPage]="module.forms.sitegroup.label + ': ' + sitegroup.name"></gn-cmr-breadcrumb>
                <div class="toolbar clearfix">
                    <h3 class="float-left">{{ module.forms.sitegroup.label + ': ' + sitegroup.name}}</h3>
                    <button *ngIf="module?.cruved?.D !== '0'" class="btn btn-danger float-right ml-2" (click)="openModalDownload($event, modalDelete)"><i class="fa fa-trash"></i>&nbsp;Supprimer</button>
                    <button *ngIf="module?.cruved?.E !== '0'" class="btn btn-primary float-right mat-primary ml-2" color="primary" (click)="openModalDownload($event, modalDownload)"><i class="fa fa-arrow-down"></i>&nbsp;Téléchargements</button>
                    <button *ngIf="module?.cruved?.U !== '0'" class="btn btn-primary float-right" [routerLink]="['..', {edit: sitegroup.id_sitegroup}]"><i class="fa fa-pencil"></i>&nbsp;Editer</button>
                </div>
                <div class="">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" aria-selected="true" id="nav-sitegroup-tab" href="#sitegroup-tab">{{module.forms.sitegroup.label}}</a>
                            <a class="nav-item nav-link" data-toggle="tab" aria-selected="false" id="nav-media-tab" href="#media-tab">Medias<span class="badge badge-pill badge-primary ml-2">{{medias.length}}</span></a>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade active show"
                                id="sitegroup-tab"
                                role="tabpanel"
                                attr.aria-labelledby="nav-sitegroup-tab">
                                 <table class="table table-striped table-sm scrollable">
                                    <tr *ngFor="let fieldName of properties">
                                        <th>{{ fields[fieldName].attribut_label }}</th>
                                        <td class="text-in-area">{{ _dataService.formatProperty(sitegroup[fieldName], fields[fieldName])}}</td>
                                    </tr>
                                </table>
                                <pnx-map height="50vh" class="map-card">
                                    <pnx-geojson
                                        *ngIf="mapFeatures && mapFeatures['features']"
                                        [geojson]="mapFeatures"
                                        [zoomOnLayer]="true"
                                        [zoomOnFirstTime]="true"
                                    ></pnx-geojson>
                                </pnx-map>
                            </div>
                            <div class="tab-pane fade"
                                id="media-tab"
                                role="tabpanel"
                                attr.aria-labelledby="nav-media-tab">
                                <gn-cmr-media-list [medias]="medias"></gn-cmr-media-list>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="cadre scroll" [style.max-height]="cardContentHeight + 'px'" style="overflow-y:auto">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a (click)="showSites()" class="nav-item nav-link active" data-toggle="tab" role="tab" aria-selected="false" id="nav-sites-tab" href="#sites-tab">{{module.forms.site.label_plural}}<span class="badge badge-pill badge-primary ml-2">{{ sites.length }}</span></a>
                    <a (click)="showIndividuals()" class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="false" id="nav-individuals-tab" href="#individuals-tab">Individus<span class="badge badge-pill badge-primary ml-2">{{ individuals.length }}</span></a>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <!-- TAB "Site" -->
                    <div
                        class="tab-pane fade active show"
                        id="sites-tab"
                        role="tabpanel"
                        attr.aria-labelledby="nav-sites-tab">
                        <div class="toolbar clearfix">
                            <button *ngIf="module?.cruved?.C !== '0'" class="btn btn-success float-left" [routerLink]="['site']"><i class="fa fa-plus-circle"></i>&nbsp;Ajouter {{module.forms.site.label}}</button>
                            <button *ngIf="module?.cruved?.C !== '0' && module.forms.sitegroup.use_batch_visit_creation" class="btn btn-success float-left ml-2" [disabled]="sites.length < 1" (click)="onClickBatchVisit()">Ajouter une visite pour chaque {{module.forms.site.label}}</button>
                            <button class="btn btn-primary float-right" (click)="filterSiteDisplay = !filterSiteDisplay"><i class="fa fa-sliders"></i>&nbsp;Filtrer</button>
                        </div>
                        <gn-cmr-filter *ngIf="module.forms.site.search_filters.length > 0"
                            [class]="filterSiteDisplay == true? 'd-block' : 'd-none'"
                            [filters]="module.forms.site.search_filters" 
                            [fieldsDef]="siteFieldsDef" 
                            (onSearch)="applySiteSearch($event)"
                        ></gn-cmr-filter>
                        <ngx-datatable #tableSite
                            class="material striped margin-top-xs"
                            [rows]="sites"
                            [rowHeight]="40"
                            [draggable]="false"
                            [count]="sites.length"
                            [limit]="15"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [selectionType]="'single'"
                            [selected]="selected"
                            (activate)="onSiteRowClick($event)"
                            [messages]="{emptyMessage: 'Aucune donnée disponible', totalMessage: 'Total', selectedMessage: 'sélectionné'}">

                            <ngx-datatable-column width="20" headerClass="col-warning" cellClass="col-warning">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <i class="fa fa-warning text-warning" aria-hidden="true" [matTooltip]="'Il manque au moins 1 observation pour au moins 1 visite'" *ngIf="row.missing_observation"></i>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column width="45" headerClass="col-action" cellClass="col-action">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a class="clickable btn btn-no-padding bt-ghost" [routerLink]="['site', row.id_site]">
                                        <i class="fa fa-info-circle" aria-hidden="true" [matTooltip]="'Informations ' + module.forms.site.label + ' ' + row.name"></i>
                                    </a>
                                    <a *ngIf="module?.cruved?.U !== '0'" class="clickable btn btn-no-padding bt-ghost ml-1" [routerLink]="['site', {edit: row.id_site}]">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" [matTooltip]="'Editer ' + module.forms.site.label + ' ' + row.name"></i>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngFor="let prop of siteListProperties" [width]="prop.width" [name]="siteFieldsDef[prop.field].attribut_label" [prop]="prop.field" [cellClass]="'text-' + (prop['align'] ? prop['align'] : 'left')" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span>{{_dataService.formatProperty(row[prop.field], siteFieldsDef[prop.field])}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>

                    <!-- TAB "Individuals -->
                    <div
                        class="tab-pane fade"
                        id="individuals-tab"
                        role="tabpanel"
                        attr.aria-labelledby="nav-individuals-tab">
                        <div class="toolbar clearfix">
                            <button class="btn btn-primary float-right" (click)="filterIndividualDisplay = !filterIndividualDisplay"><i class="fa fa-sliders"></i>&nbsp;Filtrer</button>
                        </div>
                        <gn-cmr-filter *ngIf="module.forms.individual.search_filters.length > 0"
                            [class]="filterIndividualDisplay == true? 'd-block' : 'd-none'"
                            [filters]="module.forms.individual.search_filters" 
                            [fieldsDef]="individualFieldsDef" 
                            (onSearch)="applyIndividualSearch($event)"
                        ></gn-cmr-filter>
                        <ngx-datatable #table
                            class="material striped margin-top-xs"
                            [rows]="individuals"
                            [rowHeight]="40"
                            [draggable]="false"
                            [count]="individuals.length"
                            [limit]="15"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [selectionType]="'single'"
                            [selected]="selectedIndividual"
                            (activate)="onIndividualRowClick($event)"
                            [messages]="{emptyMessage: 'Aucune donnée disponible', totalMessage: 'Total', selectedMessage: 'sélectionné'}">

                            <ngx-datatable-column width="60">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a class="clickable btn btn-no-padding bt-ghost" [routerLink]="['../..','individual', row.id_individual]">
                                        <i class="fa fa-info-circle" aria-hidden="true" [matTooltip]="'Informations Individu ' + row.identifier"></i>
                                    </a>
                                    <a *ngIf="module?.cruved?.U !== '0'" class="clickable btn btn-no-padding bt-ghost ml-1" [routerLink]="['../..','individual', {edit: row.id_individual}]">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" [matTooltip]="'Editer Individu' + row.identifier"></i>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngFor="let prop of individualListProperties" [width]="prop.width" [name]="individualFieldsDef[prop.field].attribut_label" [prop]="prop.field" [cellClass]="'text-' + (prop['align'] ? prop['align'] : 'left')" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span>{{_dataService.formatProperty(row[prop.field], individualFieldsDef[prop.field])}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <ng-template #modalDownload id="modal-download" let-c="close" let-d="dismiss" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> {{'DownloadData' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalReference.close()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <br>
            <h5 class="underlined second-color">Télécharger les observations</h5>
            <div>
                <button mat-raised-button (click)="downloadAllObservations('csv')" type="button" class="button-success mr-1" >Format CSV</button>
                <button mat-raised-button (click)="downloadAllObservations('geojson')" type="button" class="button-success mr-1" >Format GeoJSON</button>
                <button mat-raised-button (click)="downloadAllObservations('shp')" type="button" class="button-success mr-1" >Format ShapeFile</button>
            </div>
            <br>
            <h5 class="underlined second-color">Requête pour analyse statistique</h5>
            <div>
                <button mat-raised-button (click)="downloadMappingVisitIndividual()" type="button" class="button-success mr-1">Format CSV</button>
            </div>
        </div>
    </ng-template>
    <ng-template #modalDelete id="modal-delete" let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title">Attention</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalReference.close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p *ngIf="sitegroup.nb_sites">Impossible de supprimer! Cet élément contient {{sitegroup.nb_sites}} {{module.forms.site.label_plural}}</p>
            <div class="alert alert-danger" *ngIf="!sitegroup.nb_sites">
                <i class="fa fa-warning fa-lg"></i>&nbsp;Êtes-vous sur de supprimer l'élément {{module.forms.sitegroup.label}} {{sitegroup.name}}?
            </div>
        </div>
        <div class="modal-footer button-container">
            <button class="btn btn-primary" (click)="modalReference.close()">Annuler</button>
            <button class="btn btn-danger ml-5" [disabled]="sitegroup.nb_sites" (click)="deleteSitegroup()">Confirmer la suppression</button>
        </div>
    </ng-template>
</div>
