#details {
    height: calc(100% - 40vh);
}

:host ::ng-deep .card-header [aria-expanded=true] .fa-chevron-down {
    display: none;
}

:host ::ng-deep .card-header [aria-expanded=false] .fa-chevron-up {
    display: none;
}