<div class="main">
    <div class="flex-container">
        <div class="cadre" [style.min-height]="cardContentHeight + 'px'" [style.max-height]="cardContentHeight + 'px'">
            <div id="details">
                <gn-cmr-breadcrumb [path]="path" [currentPage]="module.forms.observation.label"></gn-cmr-breadcrumb>
                <div class="toolbar clearfix">
                    <h3 class="float-left">{{module.forms.observation.label}}</h3>
                    <button class="btn btn-danger float-right ml-2" (click)="openModalDownload($event, modalDelete)"><i class="fa fa-trash"></i>&nbsp;Supprimer</button>
                    <button class="btn btn-primary float-right" [routerLink]="['../..','individual', observation.id_individual, 'observation',{edit: observation.id_observation}]"><i class="fa fa-pencil"></i>&nbsp;Editer</button>
                </div>
                <div class="">
                    <div class="mb-2">
                        <span><strong>{{module.forms.site.label}}: </strong><a [routerLink]="['../../../..']">{{observation?.visit?.site?.name}}</a></span>
                    </div>
                    <div class="mb-2">
                        <span><strong>{{module.forms.visit.label}}: </strong><a [routerLink]="['../..']">{{_dataService.formatProperty(observation?.visit?.date, module.forms.visit.fields['date'])}}</a></span>
                    </div>
                    <div class="mb-2">
                        <strong>{{module.forms.individual.label}}: </strong><a [routerLink]="['/' + _cmrService.getModuleUrl(),'module',module.module_code, 'individual', observation.individual.id_individual]">{{observation.individual.identifier}}</a>
                        <table class="table table-striped table-sm scrollable">
                            <tr *ngFor="let fieldName of individualProperties">
                                <th>{{ individualFields[fieldName].attribut_label }}</th>
                                <td class="text-in-area">{{ _dataService.formatProperty(observation?.individual[fieldName], individualFields[fieldName])}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <pnx-map height="40vh" class="map-card">
                <pnx-geojson
                    *ngIf="mapFeatures && mapFeatures['features']"
                    [geojson]="mapFeatures"
                    [zoomOnLayer]="true"
                    [zoomOnFirstTime]="true"
                ></pnx-geojson>
            </pnx-map>
        </div>
        <div id="details-left" class="cadre scroll" [style.max-height]="cardContentHeight + 'px'">
            <div class="">
                <h3>Détails</h3>
                <table class="table table-striped table-sm scrollable">
                    <tr *ngFor="let fieldName of properties">
                        <th>{{ fields[fieldName].attribut_label }}</th>
                        <td class="text-in-area">{{ _dataService.formatProperty(observation[fieldName], fields[fieldName])}}</td>
                    </tr>
                </table>

                <div class="card mt-3 border-primary" *ngFor="let grp of formGroups" >
                    <div class="card-header bg-primary">
                        <a data-toggle="collapse" [href]="'#collapse-body-' + grp['id']" role="button" [attr.aria-expanded]="grp.defaults.opened === true" [attr.aria-controls]="'collapse-body-' + grp['id']">
                            <h5 class="float-left card-title text-white">{{grp.label}}</h5>
                            <span class="float-right text-white">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-chevron-up"></i>
                            </span>
                        </a>
                    </div>
                    <div [id]="'collapse-body-' + grp['id']" [class]="'card-body collapse' +(grp.defaults.opened === true ? ' show' : '')">
                        <table class="table table-striped table-sm scrollable">
                            <tr *ngFor="let fieldName of grp['properties']">
                                <th>{{ grp['fields'][fieldName].attribut_label }}</th>
                                <td class="text-in-area">{{ _dataService.formatProperty(observation[fieldName], grp['fields'][fieldName])}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <gn-cmr-media-list [medias]="observation.medias"></gn-cmr-media-list>
            </div>
        </div>
    </div>
    <ng-template #modalDelete id="modal-delete" let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title">Attention</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalReference.close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger">
                <i class="fa fa-warning fa-lg"></i>&nbsp;Êtes-vous sur de supprimer l'élément {{module.forms.observation.label}}?
            </div>
        </div>
        <div class="modal-footer button-container">
            <button class="btn btn-primary" (click)="modalReference.close()">Annuler</button>
            <button class="btn btn-danger ml-5" (click)="deleteObservation()">Confirmer la suppression</button>
        </div>
    </ng-template>
</div>
