#details {
    height: calc(100% - 40vh);
}

:host ::ng-deep .card-header {
    padding: 6px 12px;
    
    [aria-expanded=false] .fa-chevron-up,
    [aria-expanded=true] .fa-chevron-down {
        display: none;
    }
}
