<div class="main">
    <div class="flex-container">
        <div class="cadre" [style.min-height]="cardContentHeight + 'px'">
            <div id="details">
                <gn-cmr-breadcrumb [path]="path" [currentPage]="'Observation Individu'"></gn-cmr-breadcrumb>
                <div class="toolbar clearfix">
                    <h3 class="float-left">Observation d'un individu</h3>
                    <button class="btn btn-primary float-right" [routerLink]="['../..','individual', observation.id_individual, 'observation',{edit: observation.id_observation}]"><i class="fa fa-pencil"></i>&nbsp;Editer</button>
                </div>
                <div class="">
                    <div class="mb-2">
                        <span><strong>{{module.forms.site.label}}: </strong>{{site.name}}</span>
                    </div>
                    <div class="mb-2">
                        <span><strong>Visite: </strong>{{_dataService.formatProperty(visit.date, module.forms.visit.fields['date'])}}</span>
                    </div>
                    <div class="mb-2">
                        <strong>Individu:</strong>
                        <table class="table table-striped table-sm scrollable">
                            <tr *ngFor="let fieldName of individualProperties">
                                <th>{{ individualFields[fieldName].attribut_label }}</th>
                                <td class="text-in-area">{{ _dataService.formatProperty(individual[fieldName], individualFields[fieldName])}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <pnx-map height="40vh" class="map-card">
            </pnx-map>
        </div>
        <div class="cadre scroll">
            <div class="">
                <h3>Détails de l'observation</h3>
                <table class="table table-striped table-sm scrollable">
                    <tr *ngFor="let fieldName of properties">
                        <th>{{ fields[fieldName].attribut_label }}</th>
                        <td class="text-in-area">{{ _dataService.formatProperty(observation[fieldName], fields[fieldName])}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
