.button-container {
    justify-content: center;
}

:host /deep/ table {
    min-width: 900px;
    display: block;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

th, td {
    padding: 3px 10px;
}